#chase {
  height: 255px;
  width: 300px;
  margin-top: 45px;
}
#icons {
  margin-left: 100rem;
  float: right;
}
#github {
  height: 45px;
  width: 45px;
  margin-left: ;
}
#linkedin {
  height: 45px;
  width: 45px;
  margin-left: 10%;
  margin-right: 10%;
}
#email {
  height: 45px;
  width: 45px;
}
